#password-display {
    text-align: center;
}

.addition {
    color: firebrick;
}
.lower {
    color: aliceblue;
}
.upper {
    color: palegreen;
}
.numeric {
    color: yellow;
}
.mark {
    color: aqua;
}

.draggable-tag {
    margin: 1px;
    display: inline-block;
}